/* RIGHT COLUMN */
.search-section {
    margin-top: 10px;
}

.search-box {
    width: 250px;
    border-color: #e6ecf1;
    border-top-style: none;
    border-left-style: none;
    border-radius: 25px;
    background-color: #e6ecf1;
    padding-left: 10px;
}
  
.search-with-mag {
    width: 300px;
    border-width: 1px;
    border-color: #e6ecf1;
    border-top-style: none;
    border-left-style: none;
    border-radius: 25px;
    background-color: #e6ecf1;
    padding-top: 12px;
    padding-bottom: 5px;
    padding-left: 15px;
    height: 50px;
}

.trends-section{
    width: 300px;
    height: auto;
    border-color: #f5f8fa;
    border-top-style: none;
    border-left-style: none;
    border-radius: 15px;
    background-color: #f5f8fa;
    padding-top: 12px;
    padding-bottom: 5px;
    /* padding-left: 15px; */
}

.trends-for-you {
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 10px;
    font-weight: bold;
    font-size: 14pt;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

.cog:hover{
    color: #1da1f2;
    border-radius:12px;
    border:12px solid #1da1f2;
    opacity: 0.3;
    width:0;
    height:0;
}


.trending-1,
.trending-2,
.trending-3{
    border-top: 0.5px solid lightgray;
    border-color: lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: -15px;
}

.trending-1:hover,
.trending-2:hover,
.trending-3:hover{
    background-color:#edf0f2;
}

.trending-location,
.trending-hashtag,
.trending-num-tweets {
    padding-left: 15px;
}

.show-more-text{
    color: #1da1f2;
}

.trends-show-more{
    border-top: 0.5px solid lightgray;
    border-color: lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    padding-left: 15px;
}

.trends-show-more:hover,
.follow-more-show-more:hover{
    background-color:#edf0f2;
    text-decoration-line: none;
}

.trends-show-more a:hover,
.follow-more-show-more a:hover{
    text-decoration-line: none;
    text-decoration: none;
    color: #1da1f2;
}

.follow-more-section{
    width: 300px;
    height: auto;
    border-color: #f5f8fa;
    border-top-style: none;
    border-left-style: none;
    border-radius: 15px;
    background-color: #f5f8fa;
    padding-top: 12px;
    padding-bottom: 5px;
    padding-left: 15px;
}

.follow-more{
    /* padding-left: 15px; */
    font-weight: bold;
    font-size: 14pt;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

.follow-pic {
    height: 50px;
    width: 50px;
    border-radius: 25px;
}

.follow-user {
    padding-left: 30px;
}

.follow-button {
    width: 80px;
    height: 35px;
    background-color: transparent;
    color: rgb(29,161,242);
    border-bottom-color: rgb(29,161,242);
    border-left-color: rgb(29,161,242);
    border-right-color: rgb(29,161,242);
    border-top-color: rgb(29,161,242);
    border-width: 1px;
    border-radius: 40px;
    border-style: solid;
    font-weight: bold;
    margin-top: 10px;
}

.follow-more-show-more{
    padding-top: 10px;
    padding-bottom: 10px;
}

.terms-privacy-policy,
.terms-privacy-policy a {
    display: space-around;
    color: gray;
    font-size: 12px;
    padding-right: 5px;
    padding-top: 15px;
}

.terms-privacy-policy a:hover {
    color :gray;
}
/* RIGHT COLUMN - DONEEEEEEEE*/

/* LEFT COLUMN CSS */
.icon{
    margin-top: 5px;
    margin-right: 25px;
    padding-left: 10px;

}

.left{
    font-weight: bold;
    font-size: 14pt;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;

}

.left-logo{
    margin-bottom: 10px;
    margin-top: 10px;
}

.left-home{
    display: flex;
    padding-top: 6px;
    color: rgb(29,161,242);
    height: 40px;
    margin-bottom: 9px;
}
.left-home:hover{
    background-color: rgb(225,232,237);
    color: rgb(29,161,242);
    width: 120px;
    border-radius: 30px;
}

.left-explore{
    display: flex;
    padding-top: 6px;
    height: 40px;
    margin-bottom: 9px;
}
.left-explore:hover{
    background-color: rgb(225,232,237);
    color: rgb(29,161,242);
    width: 130px;
    border-radius: 30px;
}
.left-notifications{
    display: flex;
    padding-top: 6px;
    height: 40px;
    margin-bottom: 9px;
}
.left-notifications:hover{
    background-color: rgb(225,232,237);    
    color: rgb(29,161,242);
    width: 180px;
    border-radius: 30px;
}

.left-message{
    display: flex;
    padding-top: 6px;
    height: 40px;
    margin-bottom: 9px;
}
.left-message:hover{
    background-color: rgb(225,232,237);
    color: rgb(29,161,242);
    width: 150px;
    border-radius: 30px;
}

.left-bookmark{
    display: flex;
    padding-top: 6px;
    height: 40px;
    margin-bottom: 9px;
}
.left-bookmark:hover{
    background-color: rgb(225,232,237);
    color: rgb(29,161,242);
    width: 160px;
    border-radius: 30px;
}

.left-list{
    display: flex;
    padding-top: 6px;
    height: 40px;
    margin-bottom: 9px;
}
.left-list:hover{
    background-color: rgb(225,232,237);
    color: rgb(29,161,242);
    width: 110px;
    border-radius: 30px;
}

.left-profile{
    display: flex;
    padding-top: 6px;
    height: 40px;
    margin-bottom: 9px;
}
.left-profile:hover{
    background-color: rgb(225,232,237);
    color: rgb(29,161,242);
    width: 130px;
    border-radius: 30px;
}

.left-more{
    display: flex;
    padding-top: 6px;
    height: 40px;
    margin-bottom: 9px;
}
.left-more:hover{
    background-color: rgb(225,232,237);
    color: rgb(29,161,242);
    width: 110px;
    border-radius: 30px;
}

.left-button-tweet{
    background-color: rgb(29,161,242);
    color: white;
    border: none;
    border-radius: 40px;
    width: 200px;
    height: 50px;
    font-weight: bold;
    margin-top: 10px;
}

.left-bottom{
    margin-top: 140px;
}
/* LEFT COLUMN CSS - DONEEEEEEEE */

/* MIDDLE COLUMN */

.middle-box-1{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(225,232,237);
}

.middle-home-button{
    width: 100%; 
    text-align: left;
    height: 50px;
    font-size: 14pt;
    font-weight: bold;
    background-color: white;
    border: none;
}

.middle-box-2{
    border-right: 1px solid rgb(225,232,237); 
    border-left: 1px solid rgb(225,232,237); 
    border-bottom: 10px solid rgb(225,232,237); 
    padding-top: 10px;
    padding-bottom: 10px;
}
.box1{
    display: flex;
}

.middle-box-2-icon{
    margin-left: 25px;
}

.box2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px;
}

.box2 .right{
    display: flex;
    align-items: center;
}

.hidden-middle{
    border-bottom: 10px solid rgb(225,232,237); 
    border-left: 1px solid rgb(225,232,237); 
    border-right: 1px solid rgb(225,232,237); 
}

.hidden-middle .box1{
    padding-top: 10px;
    padding-bottom: 10px;
}
/* MIDDLE COLUMN - DONEEEEEEEE */






